process {
    withName: 'CONVERSION_EUBIBRIDGE' {
        publishDir =[
         path: {"${params.outdir}"}, 
         mode: 'copy', 
         pattern: "*.zarr"  
        ]
        ext.args =  [
            "--verbose",
            "--region_size_mb", "${params.region_size_mb}",
            "--max_concurrency", "${params.max_concurrency}",
            "--max_workers", "${params.max_workers}"
        ].join(' ').trim()
        container = 'docker://bugraoezdemir/eubi-bridge:0.1.2b3'
    }
}