
params {
    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    input_csv = null
    outdir = null
}

includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"
includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'

# tochange
workDir = "/dodrio/scratch/projects/2024_300/ttodorova/work_nextflow" 
profiles {
    conda_wsl { 
        conda.enabled = true
        process.conda = "/home/tatiana/miniconda3/envs/eubizarr"
    }
    docker_wsl{
        docker.enabled= true
        docker.autoMounts= true
        process.container="hub.docker.com/bugraoezdemir/eubi-bridge:0.1.2b3"
    }
    apptainer_wsl{
        apptainer.enabled= true
        apptainer.autoMounts= true
       // process.container="/home/tatiana/containers/eubi.sif"
        process.container="bugraoezdemir/eubi-bridge:0.1.2b3"
    }
   singularity_tier1{
       process.executor="slurm"
       singularity.enabled=true
       singularity.autoMounts=true
       process.container="/dodrio/scratch/projects/2024_300/ome_zarr_hackathon_2026/eubibridge_b3.sif"
       }
   singularity_tier2{
       process.executor="slurm"
       singularity.enabled=true
       singularity.autoMounts=true
       process.container="/scratch/348/vsc34840/containers/eubizarr.sif"
       process.clusterOptions =' --clusters=genius --account=lp_hack_bio_im'
}
   conda_tier2k{
        process.executor="slurm"
        conda.enabled = true
        process.conda = "/data/348/vsc34840/miniconda3/envs/eubizarr"
    }
   conda_tier1{
       process.executor="slurm"
       conda.enabled = true
       process.conda = "/data/gent/vo/001/gvo00163/vsc34840/mambaforge/envs/eubizarr_env"
}

}
